 <div class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="https://www.flaticon.es/premium-icon/icons/svg/410/410375.svg" alt="" width="100" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Entrar a Restaurantes</h1>
      <label for="inputEmail" class="sr-only">Direccion de Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <br>
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordarmelo ??
        </label>
      </div>
      <button class="btn btn-primary" type="submit">Entrar</button>
      
    </form>
  </div>