@model Restaurante

    <h2> @Model.nombreTienda </h2>
    <h3>Menu</h3>
    <div class="col-md-6 col-md-offset-2" style="margin:0 auto">
    @foreach (var a in Model.Menu){
        <p> @a.Nombre  </p>
        <p> @a.Precio  </p>
        <p> @a.Imagen  </p>     
    }
    </div>

