@model List<Restaurante>

@foreach(var res in Model){
    <h2> @res.nombreTienda </h2>
    <h3>Menu</h3>
    @foreach (var a in res.Menu){
        <p> @a.Nombre  </p>
        <p> @a.Precio  </p>
        <p> @a.Imagen  </p>
    }
}
