@model Restaurante;
<h1>Esta pagina sera a la que se redireccione una vez  el usuario de restaurante inicie sesion</h1>
<p>Hola querida @Model.nombre</p>
<div class="row">
	<div class="col-xs-6">
		<button id="login-form-link" class="btn btn-register"><a asp-area="" asp-controller="Restaurantes" asp-action="agregarmenu">Agregar menu</a></button>
		
	
	</div>
</div>