<!DOCTYPE html>

    <main role="main">

      
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 text-center" ><img src="https://previews.123rf.com/images/roxanabalint/roxanabalint1506/roxanabalint150600014/40931055-ready-to-eat-grunge-sello-de-goma-en-blanco-ilustraci%C3%B3n-vectorial.jpg" width="200" height=200"></h1>

          <p class="text-center">Les Presento a la pagina ReadyToEat la pagina donde podras satisfacer todos tus necesidades..... alimenticias</p>
          
        </div>
      </div>

      <div class="container">
        
        <div class="row">
          <div class="col-md-4">
            <h2>Fast Food</h2>
            <p>excelencia a nuestros productos de comidas rápidas con alta calidad, sabrosos y frescos, en función de satisfacer las necesidades del consumo, proporcionando en forma permanente bienestar y calidad de vida. </p>
            <img src="https://previews.123rf.com/images/mevar/mevar1707/mevar170700011/82927006-ilustraci%C3%B3n-de-boceto-de-vector-de-comida-r%C3%A1pida-forma-circular.jpg" width="300" height="300"/>
            
          </div>
          <div class="col-md-4">
            <h2>Cevicheria y Mariscos</h2>
            <p>Brindar a   nuestros  invitados  una  experiencia original  e  inolvidable   en  cada visita,  con  un excelente servicio y calidad de nuestros productos terminados. </p>
            <img src="https://i.pinimg.com/originals/ef/86/80/ef868087155248675f52fd4ea496cf1d.jpg" width="300" height="300" />

          </div>
          <div class="col-md-4">
            <h2>Restaurantes</h2>
            <p>Satisfacer las necesidades gastronómicas de nuestros clientes, ofreciendo alimentos y servicios con la más alta calidad, donde se sobrepasen las expectativas de nuestros clientes y ser un espacio de trabajo que permita la realización personal .</p>
            <img src="https://i.pinimg.com/originals/fc/27/73/fc2773d6d7a877f28e820fe04825759b.jpg" width="300" height="300"/>
            
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
  